<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();

    }

    var anoCopa = 1930;

    while (anoCopa <= 2021) {

        alert("Teve copa em " + anoCopa);
        anoCopa = anoCopa + 4;

    }

    alert("FIM");
</script>