<meta charset="UTF-8">

<h3>Álcool ou Gasolina</h3>

<script>
    var tanque = 40;

    var caminhoComGasolina = 480;
    var consumoDeGasolina = 480 / 40;

    var caminhoComAlcool = 300;
    var consumoDeAlcool = 300 / 40;

    document.write("O consumo com Gasolina foi de " + consumoDeGasolina + "km/l");
    document.write("<br>");
    document.write("O consumo com Álcool foi de " + consumoDeAlcool + "km/l");

</script>