<meta charset="UTF-8">

<script>

    function pulaLinha() {
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();


    }

    var ano = 1500;
    var anoAtual = 2020;
    var idadeMedia = 28;

    var quantidade = (anoAtual - ano) / idadeMedia;

    mostra("A média é " + quantidade + ".");

</script>