<meta charset="UTF-8">
<script>
    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var titulo = "Bem-vindo ao meu programa!";

    mostra("<h1>" + titulo + "</h1>");

    mostra("Vocês não sabem o que tive que aprender para fazer isso!");


    mostra("Contudo, assistindo os vídeos e estudando ...");


    mostra("Eu vou mais longe!");

</script>