<meta charset="UTF-8">
<script>

    function pulaLinha() {
        document.write("<br>");
        document.write("<hr>")
        document.write("<br>");
    }

    function mostra(frase) {
        document.write(frase);
        pulaLinha();
    }

    var ano = 2019;
    mostra("<big>Eu nasci em : </big>" + (ano - 25));
    mostra("<big>Adriano nasceu em : </big>" + (ano - 26));
    mostra("<big>Paulo nasceu em : </big>" + (ano - 32));

</script>