<meta charset="UTF-8">
<script>

    var num = 3;

    document.write(num + " vezes 1 é " + num * 1 + "<br>");
    document.write(num + " vezes 2 é " + num * 2 + "<br>");
    document.write(num + " vezes 3 é " + num * 3 + "<br>");
    document.write(num + " vezes 4 é " + num * 4 + "<br>");
    document.write(num + " vezes 5 é " + num * 5 + "<br>");
    document.write(num + " vezes 6 é " + num * 6 + "<br>");
    document.write(num + " vezes 7 é " + num * 7 + "<br>");
    document.write(num + " vezes 8 é " + num * 8 + "<br>");
    document.write(num + " vezes 9 é " + num * 9 + "<br>");
    document.write(num + " vezes 10 é " + num * 10 + "<br>");
</script>