<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();

    }

    var i = 0;
    while (i < 10) {
        alert("O resultado é " + (2 * i));
        i++;
    }

</script>