<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha
    }

    var minhaIdade = 26;
    var idadeIrmao = 21;
    var diferencaIdade = minhaIdade - idadeIrmao;

    mostra("Nossa diferença de idade é " + diferencaIdade + ".");
</script>