<meta charset="UTF-8">

<script>

    function pulaLinha() {

        document.write("<br>");
        document.write("<br>");

    }

    function mostra(frase) {

        document.write(frase);
        pulaLinha();

    }

    var ano = 2016;

    mostra("Flávio tem " + (ano - 1977) + " anos");

    mostra("Joaquim tem " + (ano - 1996) + " anos");

    ano = 2017;
    mostra("Barmey tem " + (ano - 1976) + " anos");



</script>